*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
.bg{
    background-color: #FCECDD;
    height: 2500px;
    width: 100%;
    overflow: hidden;
}
.head{
    overflow: hidden;
    width: calc(100% + 150px);
    height: 80px;
    background-color: #FFC288;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: calc(-10% - -50px);
}
.head button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #FF6701;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.head button:hover{
    width: 190px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #FF6701;
    color: white;
    margin-left: -20px;
    margin-right: -20px;
}
.conhead{
    text-align: center;
}
.conhead p{
    font-size: 0.8em;
    margin-top: -5px;
}
.content{
    width: 90%;
    height: 1800px;
    background-color: beige;
    margin-top: 50px;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 5%;
    text-align: justify;
}
.content article{
    margin: 50px;
    padding-top: 20px;
}
article h1{
    font-size: 2em;
}
.content h3{
    margin-left: 50px;
}
.chld{
    font-size: 0.9em;;
}
.content button{
    width: 120px;
    border: none;
    padding: 10px;
    outline: none;
    background-color: beige;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 100px;
    transition: 0.5s;
}
.content button:hover{
    width: 120px;
    padding: 10px;
    border: none;
    outline: none;
    background-color:beige;
    color: #FF6701;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 100px;
}
.foot img{
    width: 200px;
    height: auto;
    border-radius: 10px;
}
.foot{
    width: 90%;
    height: 350px;
    background-color: beige;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;

}
.foot h3{
    height: 50px;
    width: 200px;
    background-color: #FFC288;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    margin-top: -300px;
    font-size: 1.5em;
}
.cfoot{
    width: 200px;
    height: 200px;
    background-color: #FFC288;
    display: grid;
    font-size: 1.2em;
    text-align: center;
    border-radius: 10px;
}
.cfoot a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.cfoot a:hover{
    text-decoration: none;
    color: #FF6701;
}
.pilih{
    width: 500px;
    height: 100px;
    padding: 20px;
    background-color: #FFC288;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    margin-top: -700px;
    margin-left: 100px;
    visibility: hidden;

}
.box{
    width: 100%;
    height: 100px;
    background-color: none;
}
.sub-pilih button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin:20px;
    cursor: pointer;
}
.sub-pilih #Y{
    background-color: #FF6701;
}
.sub-pilih #N{
    background-color: rgb(228, 228, 228);
}