*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',
    sans-serif;
}
body{
    overflow-x: hidden;
}
.bg{
    background-color: rgb(0, 0, 0);
    height: 6000px;
    width: 100%;
    overflow-x: hidden;
}
.parallax{
    background-image: url(../assets/bg.jpg);
    width: 100%;
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.moon{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-left: 500px;
    transform: translateY(300px);
    background-color: none;
}
.moonin{
    width: 150px;
    height: 150px;
    position: absolute;
    display: flex;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 10px rgba(250, 235, 215, 0.7);
    background-color: rgb(250, 235, 215, 0.4);
    visibility: visible;
    z-index: 7;
    cursor: pointer;
    transition: 1s;
}
.moonout {
    width: 150px;
    height: 150px;
    position: absolute;
    display: flex;
    margin-left: 0px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 10px rgba(250, 235, 215, 0.7);
    background-color: rgb(250, 235, 215, 0.4);
    visibility: hidden;
    z-index: 7;
    cursor: pointer;
    transition: 1s;
}
.moonin img{
    width: 250px;
    height: 250px;
    position: absolute;
    transition: 1.5s;
}
.moonout img {
    width: 250px;
    height: 250px;
    position: absolute;
    transition: 1.5s;
}

.bg-p{
    width: 100%;
    height: 900px;
    overflow-x: hidden;
}
.bg-p img{
    width: 100%;
    height: 900px;

}
.tree1{
    width: 25%;
    height: 500px;
    position: absolute;
    z-index: 5;
}
.tree1 img , .tree2 img , .tree2 img , .tree2 img{
    width: 700px;
    height: auto;
    opacity: 0.9.9;
}
.tree2 {
    width: 25%;
    height: 500px;
    position: absolute;
    right: 0;
    z-index: 5;
}
.tree3 {
    width: 25%;
    height: 500px;
    position: absolute;
    right: 0;

    z-index: 5;
}
.tree4 {
    width: 25%;
    height: 500px;
    position: absolute;
    left: 0;
    z-index: 5;
}
.tree1 , .tree2{
    transform: translateY(250px);
    z-index: 1;
}
.tree3, .tree4 {
    transform: translateY(100px);
    z-index: 1;
}
.tree1 img {
    transform: translateX(400px);
}
.tree2 img  {
    transform: translateX(-400px);
}
.tree3 img{
    transform: translateX(-180px);
}
.tree4 img{
    transform: translateX(-300px);
}
.navbar{
    background-color: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    margin-left: 540px;
    transform: translateY(340px);
    z-index: 1;
    transition: 2s;
}
.navbar img{
    width: 40px;
    height: 40px;
}
.home,.project,.artikel,.contact{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 233);
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 50px 10px rgba(250, 235, 215, 0.7);
    visibility: hidden;
    z-index: 8;
}
.profil{
    width: 80%;
    margin-left: 10%;
    margin-top: 500px;
    height: 500px;
    border: 10px double  rgb(16, 135, 225);
}
.frm{
    width: 80%;
    position: absolute;
    margin-top: -30px;
    margin-left: -30px;
    height: 500px;
    border: 10px double white;
    z-index: 0;
    box-shadow: 12px 13px 50px 10px rgba(16, 135, 225, 0.7);
}
.profil-isi{
    width: 100%;
    height: 500px;
    background-color: black;
    color: white;
}
#desc{
    margin-top: 20px;
    width: 200px;
    height: 30px;
    background-color: none;
    color: white;
}
.bio{
    width: 50%;
    height: 200px;
    background-color: black;
    position: absolute;
    z-index: 10;
    margin-left: 500px;
    margin-top: 150px;
    font-family: 'Poppins',sans-serif;
}
#warna{
    color: rgb(16, 135, 225);
    text-shadow: 2px 2px 20px rgba(16, 135, 225, 0.9);
}
.bio-img{
    width: 300px;
    height: 480px;
    background-color: none;
    position: relative;
    z-index: 10;
}
.bio-img img{
    width: 300px;
    height: 480px;
}
.sosmed{
    width: 300px;
    height: 50px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin-top: -230px;
    margin-left: 500px;
    z-index: 11;
}
.instagram, .youtube, .whatsapp, .github{
    width: 50px;
    height: 50px;
    position: absolute;
    visibility: hidden;
    transition: 1s;
    
}
.tambah{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 2px 5px rgba(16, 135, 225, 0.7);
    transition: 0s;
    cursor: pointer;
}
.myskill {
    width: 80%;
    margin-left: 10%;
    margin-top: 500px;
    height: 500px;
    border: 10px double rgb(16, 135, 225);
}

.frm1 {
    width: 80%;
    position: absolute;
    margin-top: -30px;
    margin-left: -30px;
    height: 500px;
    border: 10px double white;
    z-index: 0;
    box-shadow: 12px 13px 50px 10px rgba(16, 135, 225, 0.7);
}
.myskill-isi{
    display: grid;
}
.head-skill{
    width: 30%;
    height: 80px;
    background-color: none;
    margin-top: 30px;
    margin-left: 550px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.5em;
    color: white;
}
.html{
    width: 80%;
    height: 80px;
    background-color: none;
    margin-top: 10px;
    margin-left: 150px;
    color: white;
}
.skill1{
    width: 0px;
    height: 5px;
    border-radius: 5px;
    margin-top: 20px;
    background: linear-gradient(36deg, #8A19FF 0%, #13A2CA 100%);
    box-shadow: 0px 0px 40px 8px rgba(16, 135, 225, 0.7);
    transition: 2s;
}
.css {
    width: 80%;
    height: 80px;
    background-color: none;
    margin-top: 10px;
    margin-left: 150px;
    color: white;
}
.skill2 {
    width: 0px;
    height: 5px;
    border-radius: 5px;
    margin-top: 20px;
    background: linear-gradient(36deg, #8A19FF 0%, #13A2CA 100%);
    box-shadow: 0px 0px 40px 8px rgba(16, 135, 225, 0.7);
    transition: 2s;
}
.js {
    width: 80%;
    height: 80px;
    background-color: none;
    margin-top: 10px;
    margin-left: 150px;
    color: white;
}
.skill3 {
    width: 0px;
    height: 5px;
    border-radius: 5px;
    margin-top: 20px;
    background: linear-gradient(36deg, #8A19FF 0%, #13A2CA 100%);
    box-shadow: 0px 0px 40px 8px rgba(16, 135, 225, 0.7);
    transition: 2s;
}
.my-artikel{
    width: 100%;
    height: 1300px;
    background-color: rgb(0, 0, 0);
    margin-top: 300px;
    text-align: center;
}
.my-artikel h1{
    color: white;
}
.isi-artikel{
    width: 80%;
    height: 800px;
    margin-left: 10%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 100px;
}
.isi-content{
    width: 400px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgba(16, 135, 225, 0.9);
    box-shadow: 0px 0px 40px 8px rgba(16, 135, 225, 0.7);
    overflow: hidden;
    
}
.isi-content h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.isi-content:hover {
    width: 400px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgba(16, 135, 225, 0.9);
    box-shadow: 0px 0px 40px 8px rgba(16, 135, 225, 0.7);

}
.isi-content img{
    width: 400px;
    height: 400px;
}
.tulisan{
    width: 400px;
    height: 00px;
    position: absolute;
    margin-top: -00px;
    background: linear-gradient(342deg, #8A19FF 0%, #13A2CA 100%);
    color: white;
    transition: 1s;
    visibility: hidden;
    overflow: hidden;

}
.isi-content:hover .tulisan{
    width: 400px;
    height: 300px;
    position: absolute;
    margin-top: -300px;
    background: linear-gradient(342deg, #8A19FF 30%, #13A2CA 100%);
    color: white;
    visibility: visible;
    cursor: pointer;
    overflow: hidden;
}
.my-project {
    width: 100%;
    height: 700px;
    background-color: rgb(0, 0, 0);
    margin-top: 100px;
    text-align: center;
    color: white;
}
.isi-contentproject img {
    width: 150px;
    height: 300px;
    transition: 1s;
    border-radius: 20px;
}
.isi-contentproject{
    width: 150px;
    height: 300px;
    margin-top: 100px;
    margin-right: 0px;
    margin-left: 0px;
    transition: 1s;
    position: block;
    border: 2px solid rgba(16, 135, 225, 1);
    box-shadow: 0px 0px 10px 8px rgba(16, 135, 225, 0.7);
    border-radius: 20px;

}
.isi-contentproject:hover {
    width: 150px;
    height: 300px;
    margin-top: 100px;
    margin-right: 35px;
    margin-left: 35px;
    transition: 1s;
    position: block;
    border: 2px solid rgba(16, 135, 225, 1);
    box-shadow: 0px 0px 10px 8px rgba(16, 135, 225, 0.7);

}
.isi-project {
    width: 80%;
    height: 800px;
    margin-left: 10%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.tulisan-project{
    position: absolute;
    color: white;
    margin-top: -120px;
    transform: rotate(0deg);
    transition: 1s;
}
.tulisan-project p{
    position: absolute;
    color: white;
    margin-top: 0px;
    transform: rotate(-90deg),translateY(200px);
    visibility: hidden;
    transition: 0.1s;
    transition-delay: 0.5s;
    
}
.tulisan-project h3 {
    transform: rotate(-90deg);
    color: rgb(255, 255, 255);
    transition: 1s;
}
.isi-contentproject:hover .tulisan-project h3 {
    transform: rotate(0deg);
    color: rgb(255, 255, 255);
    transition: 1s;
    margin-bottom: 20px;
}
.isi-contentproject:hover img {
    width: 400px;
    height: 400px;
    margin-top: 0px;
}
.isi-contentproject:hover {
    width: 400px;
    height: 400px;
    margin-top: 0px;
}
.isi-contentproject:hover .tulisan-project {
    position: absolute;
    color: white;
    margin-top: -250px;
    margin-left: 150px;
    transform: rotate(0deg);
    transition: 1s;
}
.isi-contentproject:hover .tulisan-project h3 {
    color: rgba(16, 135, 225, 1);
}
.isi-contentproject:hover .tulisan-project p {
    position: absolute;
    color: white;
    margin-top: 0px;
    transform: rotate(0deg),translateY(0px);;
    visibility: visible;
}