*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
.bg{
    background-color: #FCECDD;
    min-height: 1400px;
    width: 100%;
    overflow: hidden;
}
.head{
    overflow: hidden;
    width: calc(100% + 150px);
    height: 80px;
    background-color: #FFC288;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: calc(-10% - -50px);
}
.head button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #FF6701;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.head button:hover{
    width: 190px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #FF6701;
    color: white;
    margin-left: -20px;
    margin-right: -20px;
}
.conhead{
    text-align: center;
}
.conhead p{
    font-size: 0.8em;
    margin-top: -5px;
}
.hcontent img{
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 5px;
}
.hcontent{
    width: 80%;
    height: 400px;
    background-color: beige;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    border-radius: 20px;
}
.article1{
    margin-left: 20px;
    font-size: 1.2em;
}
.article1 button{
    margin-top: 30px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #FF6701;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.article1 #chld1{
    font-size: 0.8em;
}
.content img{
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}
.content{
    background-color: none;
    width: 80%;
    height: 800px;
    margin-left: 10%;
    margin-right: -10%;
    margin-top: 50px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 330px;
}
.ccontent{
    width: 600px;
    height: 300px;
    background-color: beige;
    border-radius: 15px;
}
.ccontent .article{
    margin-left: 10px;
    margin-top: 10px;
}
.article #chld{
    font-size: 0.8em;
}
.ccontent button{
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #FF6701;
    color: white;
    transition: 0.5s;
    cursor: pointer;   
}